<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/jpg"
      href="{{ url_for('static', filename='images/chatbot.jpg') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/home.css') }}"
    />
    <title>Home</title>
  </head>
  <body>
    <header>
      <span class="logo-div">
        <!-- <img
          class="logo"
          src="{{ url_for('static', filename='images/chatbot.jpg') }}"
          alt=""
        /> -->
        <p class="logo-title">Gemini<span class="rainbow-text"> ChatBot</span></p>
      </span>
      <nav class="navigation">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('gemini') }}">ChatBot</a>
      </nav>
    </header>
    <div class="welcome-message">
        <h1>Welcome to Gemini ChatBot!</h1>
        <p>Enter your symptoms or questions to get started with the chatbot.</p>
        <a href="{{ url_for('gemini') }}" class="button">Start Chatting</a>
    </div>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
  </body>
</html>
