<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>

  <link href="static/loader.css" rel="stylesheet" type="text/css" />

  <link rel="stylesheet" href="../static/css/loader.css">

</head>

<body>
  <div class="before-nav">
    <div class="logo">

      <!-- <img src="sanjeevaniai_img.png" alt="Google Logo"> -->
      <img src="images/sanjeevaniai_img.png" alt="Google Logo">

    </div>
    <div class="marquee">
      <p>Welcome to Sanjeevani AI - Revolutionizing Healthcare! Empowering you with AI-driven health support for a
        better tomorrow.</p>
    </div>
    <div class="login">
      <a href="login.html"><button>Login / Signup</button></a>
    </div>
  </div>
  <nav id="navbar">
    <ul class="nav-buffer">
    </ul>
    <ul class="navbar-list"> 
        <li><a  href="loader.html">Home</a></li>
      <li><a href="about.html">About us</a></li>

      <li><a href="telemedicine.html">Telemedicine</a></li>
        <li><a href="resourcepage.html">Resources</a></li>
      <!-- <li><a href="faq.html">FAQ</a></li> -->
    </ul>
  </nav>
  <div class="main">
    <div class="first-page">
      <img src="images/000.png" alt="Google Logo">
      <button class="chat-button"></button>
    </div>
    <div class="slider-buffer">
      <div class="hero-slider">
        <div class="slider">
          <div class="slide">
            <img src="images/001.png" alt="Suggestion 1">
          </div>
          <div class="slide">
            <img src="images/002.png" alt="Suggestion 2">
          </div>
          <div class="slide">
            <img src="images/003.png" alt="Suggestion 3">
          </div>

          <div class="slide">
            <img src="images/004.png" alt="Suggestion 4">
          </div>
          <div class="slide">
            <img src="images/005.png" alt="Suggestion 5">
          </div>
          <div class="slide">
            <img src="images/006.png" alt="Suggestion 6">
          </div>

          <div class="slide">
            <img src="images/007.png" alt="Suggestion 7">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="last-page">
    <img src="images/008.png">
  </div>

  <script src="script.js"></script>
</body>
  <script src="../static/js/index.js"></script>
</body> 


</html>